<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ming.mapper.GoodsInfoMapper">

    <resultMap id="BaseResultMap" type="com.ming.entity.GoodsInfo">
            <id property="goodsId" column="goods_id" jdbcType="INTEGER"/>
            <result property="goodsName" column="goods_name" jdbcType="VARCHAR"/>
            <result property="goodsSerial" column="goods_serial" jdbcType="VARCHAR"/>
            <result property="goodsImg" column="goods_img" jdbcType="VARCHAR"/>
            <result property="goodsSort" column="goods_sort" jdbcType="INTEGER"/>
            <result property="typeParentId" column="type_parent_id" jdbcType="INTEGER"/>
            <result property="typeMiddleId" column="type_middle_id" jdbcType="INTEGER"/>
            <result property="typeSubId" column="type_sub_id" jdbcType="INTEGER"/>
            <result property="storeNumber" column="store_number" jdbcType="INTEGER"/>
            <result property="selledNumber" column="selled_number" jdbcType="INTEGER"/>
            <result property="warnNumber" column="warn_number" jdbcType="INTEGER"/>
            <result property="marketPrice" column="market_price" jdbcType="DECIMAL"/>
            <result property="shopPrice" column="shop_price" jdbcType="DECIMAL"/>
            <result property="goodsEnable" column="goods_enable" jdbcType="INTEGER"/>
            <result property="summary" column="summary" jdbcType="VARCHAR"/>
            <result property="isnew" column="isnew" jdbcType="INTEGER"/>
            <result property="ishot" column="ishot" jdbcType="INTEGER"/>
            <result property="isrecommand" column="isrecommand" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        goods_id,goods_name,goods_serial,
        goods_img,goods_sort,type_parent_id,
        type_middle_id,type_sub_id,store_number,
        selled_number,warn_number,market_price,
        shop_price,goods_enable,summary,
        isnew,ishot,isrecommand
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from goods_info
        where  goods_id = #{goodsId,jdbcType=INTEGER} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from goods_info
        where  goods_id = #{goodsId,jdbcType=INTEGER} 
    </delete>
    <insert id="insert" keyColumn="goods_id" keyProperty="goodsId" parameterType="com.ming.entity.GoodsInfo" useGeneratedKeys="true">
        insert into goods_info
        ( goods_id,goods_name,goods_serial
        ,goods_img,goods_sort,type_parent_id
        ,type_middle_id,type_sub_id,store_number
        ,selled_number,warn_number,market_price
        ,shop_price,goods_enable,summary
        ,isnew,ishot,isrecommand
        )
        values (#{goodsId,jdbcType=INTEGER},#{goodsName,jdbcType=VARCHAR},#{goodsSerial,jdbcType=VARCHAR}
        ,#{goodsImg,jdbcType=VARCHAR},#{goodsSort,jdbcType=INTEGER},#{typeParentId,jdbcType=INTEGER}
        ,#{typeMiddleId,jdbcType=INTEGER},#{typeSubId,jdbcType=INTEGER},#{storeNumber,jdbcType=INTEGER}
        ,#{selledNumber,jdbcType=INTEGER},#{warnNumber,jdbcType=INTEGER},#{marketPrice,jdbcType=DECIMAL}
        ,#{shopPrice,jdbcType=DECIMAL},#{goodsEnable,jdbcType=INTEGER},#{summary,jdbcType=VARCHAR}
        ,#{isnew,jdbcType=INTEGER},#{ishot,jdbcType=INTEGER},#{isrecommand,jdbcType=INTEGER}
        )
    </insert>
    <insert id="insertSelective" keyColumn="goods_id" keyProperty="goodsId" parameterType="com.ming.entity.GoodsInfo" useGeneratedKeys="true">
        insert into goods_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="goodsId != null">goods_id,</if>
                <if test="goodsName != null">goods_name,</if>
                <if test="goodsSerial != null">goods_serial,</if>
                <if test="goodsImg != null">goods_img,</if>
                <if test="goodsSort != null">goods_sort,</if>
                <if test="typeParentId != null">type_parent_id,</if>
                <if test="typeMiddleId != null">type_middle_id,</if>
                <if test="typeSubId != null">type_sub_id,</if>
                <if test="storeNumber != null">store_number,</if>
                <if test="selledNumber != null">selled_number,</if>
                <if test="warnNumber != null">warn_number,</if>
                <if test="marketPrice != null">market_price,</if>
                <if test="shopPrice != null">shop_price,</if>
                <if test="goodsEnable != null">goods_enable,</if>
                <if test="summary != null">summary,</if>
                <if test="isnew != null">isnew,</if>
                <if test="ishot != null">ishot,</if>
                <if test="isrecommand != null">isrecommand,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="goodsId != null">#{goodsId,jdbcType=INTEGER},</if>
                <if test="goodsName != null">#{goodsName,jdbcType=VARCHAR},</if>
                <if test="goodsSerial != null">#{goodsSerial,jdbcType=VARCHAR},</if>
                <if test="goodsImg != null">#{goodsImg,jdbcType=VARCHAR},</if>
                <if test="goodsSort != null">#{goodsSort,jdbcType=INTEGER},</if>
                <if test="typeParentId != null">#{typeParentId,jdbcType=INTEGER},</if>
                <if test="typeMiddleId != null">#{typeMiddleId,jdbcType=INTEGER},</if>
                <if test="typeSubId != null">#{typeSubId,jdbcType=INTEGER},</if>
                <if test="storeNumber != null">#{storeNumber,jdbcType=INTEGER},</if>
                <if test="selledNumber != null">#{selledNumber,jdbcType=INTEGER},</if>
                <if test="warnNumber != null">#{warnNumber,jdbcType=INTEGER},</if>
                <if test="marketPrice != null">#{marketPrice,jdbcType=DECIMAL},</if>
                <if test="shopPrice != null">#{shopPrice,jdbcType=DECIMAL},</if>
                <if test="goodsEnable != null">#{goodsEnable,jdbcType=INTEGER},</if>
                <if test="summary != null">#{summary,jdbcType=VARCHAR},</if>
                <if test="isnew != null">#{isnew,jdbcType=INTEGER},</if>
                <if test="ishot != null">#{ishot,jdbcType=INTEGER},</if>
                <if test="isrecommand != null">#{isrecommand,jdbcType=INTEGER},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ming.entity.GoodsInfo">
        update goods_info
        <set>
                <if test="goodsName != null">
                    goods_name = #{goodsName,jdbcType=VARCHAR},
                </if>
                <if test="goodsSerial != null">
                    goods_serial = #{goodsSerial,jdbcType=VARCHAR},
                </if>
                <if test="goodsImg != null">
                    goods_img = #{goodsImg,jdbcType=VARCHAR},
                </if>
                <if test="goodsSort != null">
                    goods_sort = #{goodsSort,jdbcType=INTEGER},
                </if>
                <if test="typeParentId != null">
                    type_parent_id = #{typeParentId,jdbcType=INTEGER},
                </if>
                <if test="typeMiddleId != null">
                    type_middle_id = #{typeMiddleId,jdbcType=INTEGER},
                </if>
                <if test="typeSubId != null">
                    type_sub_id = #{typeSubId,jdbcType=INTEGER},
                </if>
                <if test="storeNumber != null">
                    store_number = #{storeNumber,jdbcType=INTEGER},
                </if>
                <if test="selledNumber != null">
                    selled_number = #{selledNumber,jdbcType=INTEGER},
                </if>
                <if test="warnNumber != null">
                    warn_number = #{warnNumber,jdbcType=INTEGER},
                </if>
                <if test="marketPrice != null">
                    market_price = #{marketPrice,jdbcType=DECIMAL},
                </if>
                <if test="shopPrice != null">
                    shop_price = #{shopPrice,jdbcType=DECIMAL},
                </if>
                <if test="goodsEnable != null">
                    goods_enable = #{goodsEnable,jdbcType=INTEGER},
                </if>
                <if test="summary != null">
                    summary = #{summary,jdbcType=VARCHAR},
                </if>
                <if test="isnew != null">
                    isnew = #{isnew,jdbcType=INTEGER},
                </if>
                <if test="ishot != null">
                    ishot = #{ishot,jdbcType=INTEGER},
                </if>
                <if test="isrecommand != null">
                    isrecommand = #{isrecommand,jdbcType=INTEGER},
                </if>
        </set>
        where   goods_id = #{goodsId,jdbcType=INTEGER} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ming.entity.GoodsInfo">
        update goods_info
        set 
            goods_name =  #{goodsName,jdbcType=VARCHAR},
            goods_serial =  #{goodsSerial,jdbcType=VARCHAR},
            goods_img =  #{goodsImg,jdbcType=VARCHAR},
            goods_sort =  #{goodsSort,jdbcType=INTEGER},
            type_parent_id =  #{typeParentId,jdbcType=INTEGER},
            type_middle_id =  #{typeMiddleId,jdbcType=INTEGER},
            type_sub_id =  #{typeSubId,jdbcType=INTEGER},
            store_number =  #{storeNumber,jdbcType=INTEGER},
            selled_number =  #{selledNumber,jdbcType=INTEGER},
            warn_number =  #{warnNumber,jdbcType=INTEGER},
            market_price =  #{marketPrice,jdbcType=DECIMAL},
            shop_price =  #{shopPrice,jdbcType=DECIMAL},
            goods_enable =  #{goodsEnable,jdbcType=INTEGER},
            summary =  #{summary,jdbcType=VARCHAR},
            isnew =  #{isnew,jdbcType=INTEGER},
            ishot =  #{ishot,jdbcType=INTEGER},
            isrecommand =  #{isrecommand,jdbcType=INTEGER}
        where   goods_id = #{goodsId,jdbcType=INTEGER} 
    </update>
</mapper>
